<!DOCTYPE html>
<html>
<head>
    <title>Apache Application</title>
</head>
<body>

    <h1>Apache Application</h1>

    <h2>Application Version: {{ app_version }}</h2>

    <p>Server: {{ inventory_hostname }}</p>

    <p>Managed by Ansible</p>

</body>
</html>
